@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #c5c2c2;
  background-color: #161515;
}
/*============= Navbar Style =============*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, .6)!important;
}

.navbar-brand {
  height: 2rem;
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #a5a5a5;
}

/*============= Slider Style =============*/

.carousel-item {
  height: 100vh;
}

#home h1 {
  margin-bottom: 15px;
}

#home h3 {
  margin-bottom: 30px;
}

/*============= Ride Section =============*/

#ride {
  padding-top: 40px;
  padding-bottom: 40px;
}

#ride h1 {
  margin-bottom: 30px;
}

#ride p {
  margin-bottom: 20px;
  text-align: justify;
}

/*============= Woltyzerka Section =============*/

#woltyzerka {
  background: url(../img/bg-2.jpg);
  /*============= Photo by Ben Wick on Unsplash =============*/
  background-attachment: fixed;
  background-size: cover;

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #474747;
}

#woltyzerka h1 {
  margin-bottom: 30px;
}

#woltyzerka p {
  margin-bottom: 20px;
  text-align: justify;
}

.photo-woltyzerka{
  margin-left: 30px;
  margin-right: 30px;
}

.photo-woltyzerka img{
  width: 60%;
  padding: 30px;
  height: auto;
}

@media all and (max-width: 900px), (orientation: portrait) {

  .photo-woltyzerka img{
    width: 100%;
  }
}


/*============= O nas Section =============*/
#about {
  background: url(../img/bg-1.jpg);
  /*============= Photo by Max Anderson on Unsplash =============*/
  background-attachment: fixed;
  background-size: cover;
 

}

#about h1{
  margin-bottom: 40px;
}

#about h2{
  margin-bottom: 40px;
}

#about p{
  text-align: justify;
}

.Martyna {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.Martyna .about-photo{
  margin-top: 10px;
  width: 40%;
}

.Martyna .about-text{
  width: 40%;
}

.Amadeusz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.Amadeusz .about-photo{
  width: 40%;
}

.Amadeusz .about-text{
  width: 40%;
}

/*=========== O nas Section - Mobile ===========*/
@media all and (max-width: 900px), (orientation: portrait) {

  .Martyna {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .Martyna .about-photo{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
  }
  
  .Martyna .about-text{
    width: 90%;
  }

  .Amadeusz {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .Amadeusz .about-photo{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  .Amadeusz .about-text{
    width: 90%;
  }
}

/*=========== Horses ===========*/

#horses{
  padding: 40px;
}

.all-horses{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.horse-div{
  display: block;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 280px;
  margin-bottom: 30px;
  margin-right: 30px; 
}

.horse-div .description h2{
  padding-bottom: 30px;
}

.horse-div .description p{
  text-align: justify;
}

.horse-div .description .photo-horse{
  padding-bottom: 30px;
}

/*@media all and (min-width: 1013px), (orientation: portrait) {

  .stefan-jezyk-photo{
    width: 40%!important;
    margin-left: auto;
    margin-right: auto;
  }

  .stefan-jezyk-photo p{
    text-align: center;
  }
}*/

/*=========== Price List ===========*/

#prices{
  background: url(../img/bg-3.jpg);
  /*============= Photo by Alex Wigan on Unsplash =============*/
  background-attachment: fixed;
  background-size: cover;

  padding: 50px;
}

.pricing-area{
  margin-top: 25px;
}

.single-pricing{
  position: relative;
  text-align: center;
  background-color: #555353;
  opacity: .9;
  color: #fff;
  margin: 0 20px;
  padding: 30px;
  border-radius: 3px;
  height: 100%;
}

.single-pricing:hover{
  opacity: 1;
  cursor: pointer;
}

.head-text{
  background: transparent;
  border-bottom: 0;
  padding: 15px 0;
  border-radius: 3px 3px 0 0;
}

.head-text h3{
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fafafa;
}

.price-area .price-area span{
  font-weight: 600;
}

.price-area{
  position: relative;
  padding: 10px 0;
  color: #fff;
  font-weight: 300;
  font-size: 34px;
  line-height: 1;
}

.price-area span.duration{
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #888;
  letter-spacing: 1px;
  vertical-align: baseline;
  color: #999;
  margin: 20px 0 0 3px;
}

.price-area:after, .feature-area{
  border: 0;
  font-size: 20px;
  margin-bottom: 40px;
}

.btn-area{
  padding: 15px 30px;
}

.btn-area a{
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  margin: 5px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #161515;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-decoration: none;
}

.btn-area a:hover{
  background-color: rgb(192, 184, 184);
  color: #000;
}

@media (max-width: 999px){

  .price-area{
    font-size: 27px;
  }

  .btn-area{
    padding: 1px;
  }

  .btn-area a{
    font-size: 9px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 767px){

  .head-text h3{
    font-size: 20px;
  }

  .single-pricing{
    margin-bottom: 20px;
  }

  .price-area{
    font-size: 19px;
  }

  .btn-area{
    padding: 1px;
  }

  .btn-area a{
    font-size: 9px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 375px){

  .head-text h3{
    font-size: 15px;
  }

  .price-area{
    font-size: 17px;
  }

  .single-pricing{
    padding: 5px;
    margin-bottom: 20px;
  }

  .btn-area{
    padding: 1px;
  }

  .btn-area a{
    font-size: 9px;
    padding: 5px;
  }

  .feature-area{
    font-size: 8px;
  }
}

/*=========== Gallery ===========*/
#gallery{
  padding: 40px;
  position: relative;
  height: auto;
  width: 100%;
}

#gallery h1{
  padding: 10px;
}

.photo-gallery{
  position: relative;
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 2vmin;
  grid-auto-flow: dense;
}

.photo-gallery .img{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.photo-gallery .img:hover{
  cursor: pointer;
  box-shadow: 0 0 20px rgba(212, 193, 80, 0.9);
}

.photo-gallery .img:first-child{
  grid-row-start: span 3;
  grid-column-start: span 2;
}

.photo-gallery .img:nth-child(5){
  grid-row-start: span 2;
}

.photo-gallery .img:nth-child(17){
  grid-row-start: span 2;
  grid-column-start: span 2;
}

.photo-gallery .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px){
  .photo-gallery{
    grid-template-columns: auto auto auto auto auto auto;
  }
  
  .photo-gallery .img:nth-child(17){
    grid-row-start: span 3;
    grid-column-start: span 2;
  }

  .photo-gallery .img:nth-child(16){
    grid-row-start: span 2;
  }

  .photo-gallery .img:nth-child(22){
    grid-column-start: span 2;
  }
}

@media (max-width: 900px){
  .photo-gallery{
    grid-template-columns: auto auto auto auto;
  }

  .photo-gallery .img:first-child{
    grid-row-start: span 4;
    grid-column-start: span 2;
  }

  .photo-gallery .img:nth-child(2n+2){
    grid-row-start: span 2;
  }

  .photo-gallery .img:nth-child(23){
    grid-column-start: span 2;
    grid-row-start: span 4;
  }

  .photo-gallery .img:nth-child(22){
    grid-column-start: span 2;
    grid-row-start: span 4;
  }

}

@media (max-width: 530px){

  .photo-gallery{
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;
  }

  .photo-gallery .img:first-child{
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .photo-gallery .img:nth-child(2n+2){
    grid-row-start: span 1;
  }

  .photo-gallery .img:nth-child(23){
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .photo-gallery .img:nth-child(22){
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .photo-gallery .img:nth-child(17){
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .photo-gallery .img{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
}

/*=========== Video ===========*/
#video{
  background: url(../img/bg-4.jpg);
    /*============= Photo by Ben Wick on Unsplash =============*/
    background-attachment: fixed;
    background-size: cover;

    padding: 30px;
}

.video-container{
 display: flex;
 justify-content: center;
 align-items: center;
}

.video{
  width: 100%;
}

.c-video{
  width: 40%;
  max-width: 800px;
  padding: 10px;
}

.c-video:hover{
  cursor: pointer;
}

@media (max-width: 768px){
  .video-container{
    flex-direction: column;
  }

  .c-video{
    width: 100%;
  }
}
/*=========== Contact ===========*/

#contact{
  background-color: #353433;
  padding-bottom: 40px;
}

#contact .container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.fa-map-marker, .fa-phone, .fa-envelope, .fa-facebook-square{
  font-size: 30px;
  margin-right: 10px;
}

.form-info{
  font-size: 16px;
  font-style: italic;
  color: white;
  letter-spacing: 2px;
}

input{
  padding: 10px;
  margin-top: 10px;
  width: 70%;
  background-color: #999;
  border: none;
  outline: none;
}

input::placeholder{
  color: white;
}

textarea{
  padding: 10px;
  margin-top: 10px;
  width: 70%;
  background-color: #999;
  border: none;
  outline: none;
}

textarea::placeholder{
  color: white;
}

.submit{
  margin-top: 10px;
  width: 70%;
  background-color: #161515;
  color: #fff;
  font-weight: 700;
  padding: 4px;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(19, 18, 18);
  color: #fff;
}

.submit:hover{
  cursor: pointer;
  background-color: rgb(192, 184, 184);
  color: #000;
}

.contact-form{
  display: flex;
  flex-direction: row;
}

.details-container{
  width: 50%;
  padding-bottom: 40px;
}

.form-container{
  width: 50%;
 margin-left: auto;
 margin-right: auto;
}

.detail{
  margin-bottom: 30px;
}

@media (max-width: 768px){
  .contact-form{
    display: block;
    width: 100%;
    text-align: center;
  }

  .submit{
    width: 70%;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
  }
  
  .details-container{
    width: 100%;
  }
  
  .form-container{
    width: 100%;
  }
}


/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/